@charset "UTF-8";
/* CSS Document */

html, * {
	background-color: #000;
	color: white;
}



body {
	scroll-behavior: smooth;
	
}

.navigator {
	overflow: hidden;
	position: fixed;
	text-align: center;
	width: 100%;
	background: black;
	padding-top: 20px;
	padding-bottom: 20px;
	top: 0px;
	font-family: kiona;

}

.navigator a {
	display: inline;
	color: #FFF;
	margin-right: 55px;
	font-size: 20px;
}

.navigator a:hover {
	text-decoration: none; /* removes underline from link*/
	color: darkgrey;
}

.home {
	text-align: center;
	padding-top: 280px;
	padding-bottom: 200px;
}
.homeImage {
	width: 90%;
}

header .masthead {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 7rem;
}

.header {
  height: 1000px;
  background-image: url("/images/Original-Baby-breaths.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
	background-repeat: no-repeat;
}

.minimony {
	padding-left: 220px;
	padding-right: 220px;
}

.minimony img {
	width: 100%;
}

.ourStory {
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 100px;
}
.rowStory {
	content: "";
  	display: table;
  	clear: both;
		padding-left: 250px;
		padding-right: 170px;
	
}
.columnStory {
	float: left;
	width: 50%;
  	padding: 10px;
  	height: 300px;
}
.columnStory h1 {
	    font-size: 100px;
    font-family: Kiona;
}

.ourPictures {
	padding-top: 80px;
	padding-bottom: 150px;
	margin: auto;
}
.ourPictures img {
	border-radius: 5px;
	margin-right: 10px;
	opacity: 55%;
}
.ourPictures img:hover {
	opacity: 100%;
	/* border: 1px solid #E8E8E8; */
}

.rsvp {
	text-align: center;
	font-family: Kiona,'Liberation Serif', Times, 'Times New Roman', 'serif';
	color:FFF;
	padding-bottom: 2px;
}

.rsvp h1 {
	margin: 0px;
	padding-bottom: 150px;
}

.form-rsvp {
	width: 70%;
	margin: 0 auto;
	padding-top: 90px;
	position: relative;
	text-align: center;
}

.form-group {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	margin-top: 120px;
	width: 50%;
	background: transparent;
}
.button-submit {
	margin-top: 20px;
	color: white !important;
	border-color: white !important;
}
.button-submit:hover {
	background-color: darkgrey !important;
}

.location {
	text-align: center;
	padding-top: 150px;
	padding-left: 80px;
	padding-right: 80px;
	font-family: 'Raleway Thin Regular','Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
}

.location p {
	padding-top: 50px;
}
.location h1 {
	font-family: Kiona,'Liberation Serif', Times, 'Times New Roman', 'serif';
}

.footer-content {
	background-color: #090A0B;
	display: flex;
}

.footer-content img {
	width: 6%;
	background-color: transparent;
}


